{% extends "layout/basic.html" %}

{% load static %}
{% load bootstrap4 %}

{% block title %} Создание заявки {% endblock %}

{% block content %}
   <h5 class="p-3 mb-1 font-weight-normal bg-dark text-white text-center">Создание заявки</h5>
   <form method="post" enctype="multipart/form-data">
       {{ form.non_field_errors }}
       {% csrf_token %}
       <div class="mb-3">
           <label for="InputName" class="form-label" >Название</label>
           {{ form.name }}
           {% if form.name.errors %} {{ form.name.errors }} {% endif %}
       </div>
       <div class="mb-3">
           <label for="InputDescription" class="form-label" >Описание</label>
           {{ form.description }}
           {% if form.description.errors %} {{ form.description.errors }} {% endif %}
       </div>
       <div class="mb-3">
        <label for="SelectCategory" class="form-label">Выберете категорию</label>
           {{form.category}}
           {% if form.category.errors %} {{ form.category.errors }} {% endif %}
       </div>
       <div class="mb-3 ">
           <p>Загрузите Фото</p>
           {{ form.photo}}
           {% if form.photo.errors %} {{ form.photo.errors }} {% endif %}
       </div>
       <button class="btn btn-dark mt-4 mb-2" type="submit">Создать заявку</button>

   </form>
<script>
    let sel = document.querySelector('#id_category');
    sel.classList.add('form-control');
</script>
{% endblock %}