{% extends "layout/basic.html" %}

{% load static %}
{% load bootstrap4 %}

{% block title %} Вход {% endblock %}

{% block content %}
   <h2>Вход</h2>
   {% if user.is_authenticated %}
       <p>Вы уже выполнили вход.</p>
   {% else %}
       <form method="post">
           {{ form.non_field_errors }}
           {% csrf_token %}
                <div class="mb-3">
                    <label for="InputUsername" class="form-label">Логин</label>
                    {{form.username}}
                    {% if form.username.errors %} {{ form.username.errors }} {% endif %}
                </div>
                <div class="mb-3">
                    <label for="InputPassword" class="form-label">Пароль</label>
                    {{form.password}}
                    {% if form.password.errors %} {{ form.password.errors }} {% endif %}
                </div>
                <button class="btn btn-dark mt-4 mb-2" type="submit">Войти</button>

       </form>
   {% endif %}
{% endblock %}