{% extends 'layout/basic.html' %}

{% load static %}
{% load bootstrap4 %}

{% block title %} Профиль {% endblock %}
{% block content %}
    <h5 class="p-3 mb-1 font-weight-normal bg-dark text-white text-center">Ваши заявки</h5>
    <div class="d-flex p-1 mb-1 justify-content-around bg-dark ">
        <a class="h-100 text-white" href="{% url 'main:profile_status' status='new'%}">Новые</a>
        <a class="h-100 text-white" href="{% url 'main:profile_status' status='work'%}">В работе</a>
        <a class="h-100 text-white" href="{% url 'main:profile_status' status='completed' %}">Готовые</a>
        <a class="h-100 text-white" href="{% url 'main:profile'%}">Все</a>
    </div>
    {% if request_items %}
        {% for item in request_items %}
            <div class="d-flex p-3 mb-2 text-dark bg-light">
                <img class="col-4" src="{{ item.photo.url }}" alt="Фото заявки">
                <p class="p-3 mb-2"><b>Наименование:</b> {{ item.name }} <br> <b>Категория:</b> {{ item.category }}
                    <br> <b>Дата добавления:</b> {{ item.date }} <br> <b>Описание:</b> {{ item.description }}
                    <br><b>Статус:</b>{{ item.status }}</p>

                {% if item.status == 'new' %}
                <a class=" ml-auto h-100 p-1" href="#" onclick='del(this,{{ item.pk }})'>
                    <button type="button" class=" btn-outline-danger " >Удалить</button>

                    <a class="delButton ml-auto" hidden="true" href="{% url 'main:delete' item.pk %}">
                        <button type="button" class=" btn-outline-danger " >Нажми, если уверен</button>
                    </a>
                </a>
                {% endif %}
            </div>
        {% endfor %}
                    <script>
                        del = (target, pk) =>{
                           let targButton = target;
                           let delButton = target.nextSibling;
                           targButton.hidden = true;
                           delButton.hidden = false;
                           setTimeout(() => {
                                delButton.hidden = true;
                                targButton.hidden = false;
                                }, 2000);
                        }
                    </script>
    {% else %}
        <p class="mt-3">Заявки отсутствуют</p>
    {% endif %}
{% endblock %}